/claro-sales-order/claro-api-database-mysql/nbproject/
/claro-sales-order/claro-rest-api-client/target/
/claro-sales-order/claro-api-database-mysql - copia/nbproject/
/claro-sales-order/claro-api-database-mongodb/nbproject/
/claro-sales-order/claro-api-database-redis/target/